<div class='title'>Basic Details</div>
<form class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
    <div class="form-group col">
        <input type="text" class="form-control inp" placeholder="{{person.firstName}}">
    </div>
    <div class="form-group col">
        <input type="text" class="form-control inp" placeholder="{{person.lastName}}">
    </div>
    
    <div class="form-group col">
        <input type="text" class="form-control inp coun" placeholder="{{person.mobileNumber}}">
    </div>
    <div class="form-group col">
        <input type="email" class="form-control inp" placeholder="{{person.email}}" readonly>
    </div>
</form>