<div class='title'>Favorites List</div>
<div class="row item" >
    <div class="col imagdiv">
        <img class="img" src="../../../../assets/images/food-menu-4.png" alt="" width="150" height="150">
        <i class="fa fa-heart heart" style="font-size:20px;color:red"></i>
    </div>
    <div class="col-7">
        <p class="title1">Checkin supreme</p>
        <p class="d-none d-xl-block scale-up-anim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis totam aliquam doloremque ipsum, incidunt sapiente, molestias rem aperiam aut ipsam quae nihil expedita laborum corporis? Atque perferendis dolore voluptatem quibusdam!</p>
    </div>
    <div class="col-2">
        <footer>
            <button type="button" class="btn btn-success">ADD</button>
        </footer>
    </div>
    

</div>
<hr>
<div class="row item" >
    <div class="col imagdiv">
        <img class="img" src="../../../../assets/images/food-menu-4.png" alt="" width="150" height="150">
        <i class="fa fa-heart heart" style="font-size:20px;color:red"></i>
    </div>
    <div class="col-7">
        <p class="title1">Checkin supreme</p>
        <p class="d-none d-xl-block scale-up-anim">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis totam aliquam doloremque ipsum, incidunt sapiente, molestias rem aperiam aut ipsam quae nihil expedita laborum corporis? Atque perferendis dolore voluptatem quibusdam!</p>
    </div>
    <div class="col-2">
        <footer>
            <button type="button" class="btn btn-success">ADD</button>
        </footer>
    </div>
    

</div>

